# base_ks.cfg
install
cdrom
lang en_US.UTF-8
keyboard us
network --onboot yes --device eth0 --bootproto dhcp --noipv6 --hostname base
rootpw --iscrypted $6$IZMrcRbFowtSPXE0$uc/t1aJ8awIsXQ36TnkVW5hXcw4ZBKMxtY4rwPH.x4XziHcUeqQM4XhgB4ZHtUcSTaCa/4jIIkXqQebWCuv8a1
firewall --service=ssh
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone --utc America/Los_Angeles
bootloader --location=mbr --driveorder=sda --append="crashkernel=auto"
zerombr
clearpart --all --initlabel
autopart
poweroff
%packages --nobase
@core
%end
